@import 'globals/reset';
@import 'globals/default';
@import 'globals/colors';
@import 'globals/common';
@import 'components/cart';

@import 'components/header.scss';
@import 'components/product-item.scss';
@import 'components/breadcrumb';
@import 'components/footer.scss';

.hero-section {
  padding-top: 20px;
  .hero-banner {
    margin-bottom: 40px;
  }
}

.category-products-section {
  .container {
    display: flex;
    @media (max-width:767px) {
      padding: 0;
    }
    .left-container {
      max-width: 250px;
      width: 100%;
      .cat-nav-wrapper {
        margin-bottom: 32px;
        position: relative;
        a {
          color: #545962;
          font-size: 14px;
          font-weight: 400;
          line-height: 17px;
        }
        .title {
          position: relative;
          cursor: pointer;
          font-size: 16px;
          line-height: 19px;
          color: $primary_text_color;
          margin-bottom: 12px;
          font-weight: 600;
          display: flex;
          justify-content: space-between;
          &::after {
            content: "";
            border: solid #545962;
            border-width: 1.5px 1.5px 0 0;
            padding: 5px;
            transform: rotate(45deg) translateY(-50%);
            display: inline-block;
            position: absolute;
            bottom: 0;
            right: 16px;
          }
        }
        .search-icon {
          margin-right: 0;
          cursor: pointer;
          position: absolute;
          top: 0;
          right: 36px;
        }
        .search-filter {
          display: none;
          background: $white;
          border: 1px solid #C0C3CE;
          border-radius: 4px;
          padding: 10px;
          margin-bottom: 16px;
          .input-control {
            width: calc(100% - 20px);
            font-size: 13px;
            color: #C0C3CE;
          }
        }
        .cat-wrapper-list {
          display: none;
          li {
            margin-bottom: 16px;
            position: relative;
            .toggle-icon {
              position: relative;
              width: 20px;
              height: 20px;
              display: inline-block;
              cursor: pointer;
              margin-right: 8px;
              &::before,
              &::after {
                content: "";
                position:absolute;
                background:#9BA4B1;
              }
              &::before {
                left:50%;
                top:4px;
                bottom:4px;
                width:2px;
                transform:translateX(-50%);
              }
              &::after {
                top:50%;
                left:4px;
                right:4px;
                height:2px;
                transform:translateY(-50%);
              }
            }
            &.active {
              &::before {
                content: "";
                border-left: 1px solid #e1e3ed;
                position: absolute;
                top: 26px;
                bottom: 0;
                left: 10px;
              }
              .sub-category-menu {
                display: block;
              }
              h5 > .toggle-icon {
                &::before {
                  width: 0;
                }
              }
            }
          }
          h5,
          h6 {
            color: #545962;
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            display: flex;
            align-items: center;
          }
          .sub-category-menu {
            display: none;
            padding-left: 28px;
            li {
              .child-cat-wrapper {
                display: none;
                padding-left: 28px;
              }
              &.active {
                .child-cat-wrapper {
                  display: block;
                }
                h6 > .toggle-icon {
                  &::before {
                    width: 0;
                  }
                }
              }
            }
          }
          
        }
        .filter-wrapper {
          display: none;
          max-height: 300px;
          overflow-y: auto;
        }
        .radio-container {
          display: block;
          position: relative;
          padding-left: 35px;
          margin-bottom: 12px;
          cursor: pointer;
          font-size: 22px;
          user-select: none;
          /* Hide the browser's default radio button */
          input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
          }
          /* Create a custom radio button */
          .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 25px;
            background-color: #eee;
            border-radius: 50%;
          }
          /* On mouse-over, add a grey background color */
          &:hover input ~ .checkmark {
            background-color: #ccc;
          }
          
          /* When the radio button is checked, add a blue background */
           input:checked ~ .checkmark {
            background-color: #2196F3;
          }
          
          /* Create the indicator (the dot/circle - hidden when not checked) */
          .checkmark:after {
            content: "";
            position: absolute;
            display: none;
          }
          
          /* Show the indicator (dot/circle) when checked */
          input:checked ~ .checkmark:after {
            display: block;
          }
          
          /* Style the indicator (dot/circle) */
          .checkmark:after {
             top: 9px;
            left: 9px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: white;
          }
        }

        .discounted-list {
          display: none;
          li {
            display: flex;
            align-items: center;
            margin-bottom: 16px;
            input[type="checkbox"] {
              width: 22px;
              height: 22px;
              border: 1px solid #C0C3CE;
              border-radius: 4px;
              margin-right: 12px;
            }
            label {
              color: #545962;
              font-size: 14px;
              line-height: 17px;
              font-weight: 400;
              margin: 0;
              cursor: pointer;
            }
          }
        }
        &.active {
          .search-filter {
            display: flex;
          }
          .cat-wrapper-list,
          .filter-wrapper {
            display: block;
          }
          .title {
            &::after {
              bottom: 12px;
              transform: rotate(135deg) translateY(-50%);
            }
          }
        }
      }
    }
    .category-products-wrapper {
      padding-left: 40px;
      width: calc(100% - 250px);
      .section-title {
        font-size: 32px;
        font-weight: 600;
        line-height: 39px;
      }
      .filter-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 8px;
        .sort-by-wrapper {
          position: relative;
          z-index: 2;
          h6 {
            border: 1px solid #C0C3CE;
            border-radius: 4px;
            padding: 12px;
            font-size: 12px;
            line-height: 15px;
            color: #9BA4B1;
            font-weight: 500;
            display: flex;
            align-items: center;
            margin: 0;
            cursor: pointer;
            span {
              font-size: 14px;
              line-height: 17px;
              color: $primary_text_color;
              margin: 0 8px;
            }
            &::after {
              content: "";
              width: 0;
              height: 0;
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;
              border-top: 6px solid #545962;
            }
          }
          .sort-by-option {
            position: absolute;
            border: 1px solid #C0C3CE;
            border-top: none;
            border-radius: 4px;
            display: none;
            width: 100%;
            background-color: #fafbfc;
            li {
              padding: 8px;
              cursor: pointer;
              &:not(:last-child) {
                border-bottom: 1px solid #C0C3CE;
              }
              &:hover {
                background-color: #f3f6f9;
                color: $primary_color;
              }
            }
          }
          &:hover {
            .sort-by-option {
              display: block;
            }
          }
        }
      }
      .show-counts {
        color: #1A1F26;
        font-weight: 400;
        margin-bottom: 0;
        font-size: 14px;
        margin-bottom: 16px;
      }
      .product-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        .product-card {
          background-color: $white;
          width: 32%;
          margin-bottom: 20px;
          margin-right: 16px;
          &:nth-child(3n) {
            margin-right: 0;
          }
        }
      }
      .tag-lists {
        display: flex;
        margin-bottom: 24px;
        .tag {
          display: flex;
          align-items: center;
          border: 1px solid #C0C3CE;
          border-radius: 40px;
          padding: 6px 12px;
          margin-right: 8px;
          .text {
            font-size: 12px;
            line-height: 15px;
            color: #1A1F26;
            margin-right: 6px;
          }
          .svg-icon {
            cursor: pointer;
          }
        }
      }
      @media (min-width:768px) and (max-width:1024px) {
        width: 100%;
        padding-left: 0;
        margin-bottom: 40px;
        .product-list {
          .product-card {
            width: 31%;
          }
        }
      }
      @media (max-width:767px) {
        width: 100%;
        padding-left: 0;
        margin-bottom: 40px;
        .section-title {
          font-size: 20px;
          line-height: 24px;
          font-weight: 600;
          margin-bottom: 8px;
        }
        .filter-wrapper {
          padding-left: 16px;
          padding-right: 16px;
          margin-bottom: 0;
          .sort-by-wrapper {
            h6 {
              display: none;
            }
          }
        }
        .show-counts {
          padding-left: 16px;
          padding-right: 16px;
          font-size: 12px;
          line-height: 15px;
        }
        .tag-lists {
          padding-left: 16px;
          padding-right: 16px;
        }
        .product-list {
          .product-card {
            width: 50%;
            margin: 0;
            border-radius: 0;
          }
        }
      }
    }
    @media (max-width:1024px) {
      .left-container {
        display: none;
      }
    }
  }
}

#slider_price {
  font-size: 16px;
  line-height: 19px;
  color: #000;
  margin-bottom: 12px;
  display: flex;
}
.ui-widget.ui-widget-content {
  background-color: rgba(155, 164, 177, 0.2);
  height: 6px;
  border: none;
}
.ui-widget-content .ui-state-default {
  border-radius: 10px;
  background-color: $white;
  top: -6px;
}
.ui-slider-horizontal .ui-slider-range {
  background-color: $primary_color;
}

@media (max-width:1024px) {
  .header-wrapper .container.header-nav {
    display: none;
  }
}

@media (max-width: 767px) {
  .category-page {
    padding-bottom: 50px;
    .category-products-section {
      .container {
        .left-container {
          position: relative;
          &.show-filter {
            display: block;
            position: fixed;
            left: 0;
            width: 100%;
            bottom: 0;
            top: 0;
            background-color: #FAFBFC;
            max-width: none;
            z-index: 2;
          }
          .cat-nav-wrapper {
            display: flex;
            margin-bottom: 4px;
            position: static;
            &.active {
              .title {
                background-color: #EAF3FF;
                &::after {
                  border-left: 1px solid #2072DE;
                  transform: rotate(0);
                  left: 0;
                  right: inherit;
                  top: 0;
                  height: 100%;
                }
              }  
            }
            .title {
              width: 100px;
              font-size: 14px;
              line-height: 17px;
              padding: 10px 16px;
              margin-bottom: 0;
              &::after {
                border: none;
              }
            }
            .filter-wrapper {
              width: calc(100% - 100px);
              position: absolute;
              top: 64px;
              left: 100px;
              bottom: 62px;
              background-color: $white;
              padding: 16px;
              overflow-y: auto;
              max-height: none;
            }
            .cat-wrapper-list {
              li {
                &.active {
                  &::before {
                    border: none;
                  }
                  h5 {
                    .toggle-icon {
                      transform: rotate(135deg);
                      transition: .3s ease-in-out;
                    }
                  }
                }
                h5 {
                  position: relative;
                  padding: 8px 0;
                  margin-bottom: 0;
                  .toggle-icon {
                    border: solid #545962;
                    border-width: 2px 2px 0 0;
                    padding: 0px;
                    transform: rotate(45deg);
                    width: 10px;
                    height: 10px;
                    margin: 0;
                    position: absolute;
                    right: 0;
                    transition: .3s ease-in-out;
                    &::after,
                    &::before {
                      border: none;
                      background: none;
                    }
                  }
                }
                .sub-category-menu {
                  padding-left: 0;
                }
              }
            }
          }
          .filter-heading {
            h2 {
              background-color: $white;
              box-shadow: inset 0 -1px 0 #ebecf0;
              display: flex;
              padding: 21px 18px;
              font-weight: 600;
              font-size: 18px;
              line-height: 22px;
            }
            .back-arrow {
              display: flex;
              align-items: center;
              position: relative;
              margin-right: 16px;
              &::before {
                content: '';
                border: solid #1A1F26;
                border-width: 0 2px 2px 0;
                display: inline-block;
                padding: 4px;
                transform: rotate(135deg);
                position: absolute;
                left: 0;
              }
              &::after {
                content: "";
                width: 15px;
                height: 2px;
                background-color: #1A1F26;
              }
            }
            .filter-btn {
              background-color: $white;
              position: absolute;
              bottom: 0;
              width: 100%;
              display: flex;
              justify-content: space-evenly;
              filter: drop-shadow(0px 0px 1.97802px rgba(0, 0, 0, 0.08));
              padding: 8px 16px;
              z-index: 2;
              .btn-result {
                color: $white;
                font-weight: 500;
                font-size: 16px;
                line-height: 125%;
                border-radius: 8px;
                background-color: $primary_color;
                width: 100%;
              }
              .btn-clear {
                color: $primary_color;
                background-color: $white;
                font-weight: 500;
                font-size: 16px;
                line-height: 125%;
                border-radius: 8px;
                border: 1px solid #C5CBD2;
                width: 100%;
                margin-right: 12px;
              }
            }
          }
        }
        .category-products-wrapper {
          .mobile-filter {
            position: fixed;
            bottom: 0;
            display: flex;
            width: 100%;
            justify-content: space-evenly;
            background-color: $white;
            li {
              width: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              box-shadow: 0px 0px 1.97802px rgba(0, 0, 0, 0.08), 0px 1.31868px 1.97802px rgba(0, 0, 0, 0.04);
              padding: 15px;
              cursor: pointer;
              .svg-icon {
                margin-right: 12px;
              }
            }
          }
        }
      }
    }
  }
}

#ui-id-2.ui-menu {
  display: flex;
  background: #fff;
  height: 300px;
  overflow-y: auto;
}

#ui-id-2.ui-menu li.ui-menu-item {
  background: #fff;
}

#ui-id-2.ui-menu li input.input-text {
  margin-right: 8px;
}

#ui-id-2.ui-menu .ui-menu-item-wrapper {
  padding-left: 15px;
  width: 100%;
  margin: 0;
}