@import 'globals/reset';
@import 'globals/default';
@import 'globals/colors';
@import 'globals/common';

@import 'components/cart';
@import 'components/header.scss';
@import 'components/membership';

.header-wrapper {
  .top-header-container {
    justify-content: flex-start;
  }
  .checkout-step-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .checkout-steps {
    display: flex;
    li {
      position: relative;
      display: flex;
      align-items: center;
      &:not(:last-child) {
        &::after {
          content: "";
          width: 32px;
          height: 1px;
          background-color: #C5CBD2;
          margin-left: 24px;
          margin-right: 24px;
        }
      }
      .step {
        background-color: #3BC493;
        border-color: #3BC493;
        font-size: 0;
        &::after {
          content: "";
          transform: rotate(45deg);
          height: 12px;
          width: 6px;
          margin-left: 10%;
          border-bottom: 2px solid #fff;
          border-right: 2px solid #fff;
          position: relative;
          top: -2px;
        }
        .txt {
          color: $primary_text_color;
        }
      }
      &.complete {
        .step {
          background-color: #3BC493;
          border-color: #3BC493;
          &::after {
            content: "";
            transform: rotate(45deg);
            height: 12px;
            width: 7px;
            margin-left: 10%;
            border-bottom: 2px solid #fff;
            border-right: 2px solid #fff;
          }
          .txt {
            color: $primary_text_color;
          }
        }
      }
      &.active {
        .step {
          color: $primary_color;
          background-color: $white;
          font-size: 14px;
          border: 1px solid $primary_color;
          &::after {
            display: none;
          }
        }
      }
      .step-list {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
      }
      .step {
        border-radius: 50%;
        width: 24px;
        height: 24px;
        display: inline-block;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 4px;
      }
      .txt {
        color: #545962;
        font-size: 14px;
        line-height: 16px;
      }
    }
  }
  .checkout-steps li.active ~ li {
    .step {
      border: 1px solid #c0c3ce;
      font-size: 14px;
      background-color: $white;
      color: #C5CBD2;
      &::after {
        display: none;
      }
    }
    .txt {
      color: #545962;
    }
  }
}

.section-wrapper {
  .container {
    display: flex;
    .left-section {
      width: 60%;
      margin-right: 24px;
      h2 {
        font-weight: 600;
        font-size: 20px;
        line-height: 26px;
        color: $primary_text_color;
        margin-bottom: 24px;
      }
      .address-wrapper {
        background-color: $white;
        padding: 32px;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.08), 0px 2px 3px rgba(0, 0, 0, 0.04);
        border-radius: 8px;
        margin-bottom: 24px;
        h3 {
          font-weight: 500;
          font-size: 20px;
          line-height: 26px;
          margin-bottom: 24px;
        }
        h5 {
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          margin-bottom: 24px;
          &.mt-32 {
            margin-top: 32px;
          }
        }
        fieldset {
          position: relative;
          border: none;
          margin-bottom: 16px;
          label {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #9BA4B1;
            position: absolute;
            left: 16px;
            top: 16px;
            background: #fff;
            transition: .25s;
            pointer-events: none;
          }
          .input-control {
            height: 48px;
            border: 1px solid #C0C3CE;
            border-radius: 4px;
            width: 100%;
            padding-left: 16px;
          }
          .input-control:focus + label,
          &.active .input-control + label {
            top: -10px;
            padding: 0 4px;
            transition: .25s;
          }
          select {
            height: 48px;
            border: 1px solid #C0C3CE;
            border-radius: 4px;
            width: 100%;
            padding: 16px;
          }
          .checkbox-control {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            position: relative;
            left: 0;
          }
          .checkmark {
            width: 22px;
            height: 22px;
            display: none;
            position: absolute;
            left: 0;
            border: 1px solid #C0C3CE;
            border-radius: 4px;
            &::after {
              content: "";
              position: absolute;
              display: none;
            }
          }
          input[type="checkbox"] {
            width: 22px;
            height: 22px;
            margin-right: 8px;
            border: 1px solid #C0C3CE;
            border-radius: 4px;
            outline: none;
          }
          input:checked ~ .checkmark {
            display: block;
          }
          .checkmark::after {
            left: 9px;
            top: 5px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            transform: rotate(45deg);
          }
        }
        .field-group {
          display: flex;
          fieldset {
            width: 50%;
            &:not(:last-child) {
              margin-right: 32px;
            }
          }
        }
        .billing-info {
          margin-bottom: 0;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        .billing-block {
          border-top: 1px solid #EFF1FA;
          margin-top: 24px;
          padding-top: 24px;
        }
        .switch {
          position: relative;
          display: inline-block;
          width: 56px;
          height: 26px;
          margin-bottom: 0;
          input { 
            opacity: 0;
            width: 0;
            height: 0;
          }
          
          .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
            &::before {
              position: absolute;
              content: "";
              height: 12px;
              width: 12px;
              left: 4px;
              bottom: 7px;
              background-color: white;
              -webkit-transition: .4s;
              transition: .4s;
            }
            &::after {
              position: absolute;
              content: "No";
              width: 30px;
              left: 28px;
              bottom: 5px;
              transition: .4s;
              color: $white;
            }
            &.round {
              border-radius: 34px;
              &::before {
                border-radius: 50%;
              }
            }
          }
          
          input:checked + .slider {
            background-color: #2196F3;
          }
          
          input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
          }
          
          input:checked + .slider:before {
            -webkit-transform: translateX(34px);
            -ms-transform: translateX(34px);
            transform: translateX(34px);
          }
          input:checked + .slider:after {
            content: "Yes";
            left: 6px;
          }
        }
      }
      .btn-block {
        margin-bottom: 24px;
        .btn {
          background-color: $primary_color;
          color: $white;
          width: 100%;
          font-size: 16px;
          line-height: 20px;
          font-weight: 500;
        }
      }
      .btn-text {
        background-color: transparent;
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        color: $primary_color;
        cursor: pointer;
      }
      .select-address-wrapper {
        margin-bottom: 16px;
        .head-section {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 16px;
          h4 {
            margin-bottom: 0;
            font-weight: 600;
            font-size: 16px;
            line-height: 26px;
            color: #000;
          }
        }
        .address-list {
          display: flex;
          flex-direction: column;
          li {
            box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.08), 0px 2px 3px rgba(0, 0, 0, 0.04);
            border-radius: 8px;
            padding: 24px;
            background-color: $white;
            margin-bottom: 16px;
            &.selected {
              box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.12), 0px 0px 3px rgba(0, 0, 0, 0.04);
            }
            .header-block {
              display: flex;
              justify-content: space-between;
              .label-container {
                padding-left: 0;
                .radio-input {
                  margin-right: 0;
                  position: relative;
                  top: -5px;
                  right: 3px;
                }
                .checkmark {
                  width: 18px;
                  height: 18px;
                }
                .checkmark::after {
                  height: 10px;
                  width: 6px;
                  margin-left: 30%;
                  border-bottom: 2px solid #fefefe;
                  border-right: 2px solid #fff;
                  top: 2px;
                }
              }
            }
            address {
              color: #545962;
              font-weight: 400;
              font-size: 14px;
              line-height: 24px;
            }
            .btn-block {
              display: flex;
              .btn-edit,
              .btn-remove {
                font-weight: 500;
                font-size: 13px;
                line-height: 16px;
                color: $primary_color;
                background-color: transparent;
              }
              .btn-edit {
                &::after {
                  content: "•";
                  margin-left: 16px;
                  margin-right: 16px;
                  color: #9BA4B1;
                }
              }
            }
          }
        }
      }
    }
    .checkout-product-section {
      width: 40%;
      border-left: 1px solid #EFF1FA;
      .cart-wrapper {
        position: static;
        background-color: transparent;
        box-shadow: none;
        margin-left: 24px;
        .cart-header {
          padding-left: 0;
          display: flex;
          justify-content: space-between;
          margin-bottom: 16px;
          .item-count {
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
          }
          .edit-icon {
            font-weight: 500;
            font-size: 13px;
            line-height: 16px;
            color: $primary_color;
          }
        }
        .cart-product-list {
          background: $white;
          // box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.08), 0px 2px 3px rgba(0, 0, 0, 0.04);
          border: 1px solid #EFF1FA;
          border-radius: 8px;
          max-height: 250px;
          overflow-y: scroll;
          li {
            .product-info {
              .field-qty {
                .quntity_sect {
                  border: none;
                }
              }
            }
          }
        }
        .membership-block {
          margin-bottom: 0;
          .heading-title {
            position: relative;
            
            .arrow {
              border: solid #545962;
              border-width: 1.5px 1.5px 0 0;
              padding: 3.5px;
              transform: rotate(315deg) translateY(-50%);
              bottom: 18px;
              display: inline-block;
              position: absolute;
              right: 10px;
              cursor: pointer;
            }
          }
          &:not(.open) {
            .heading-title {
              margin-bottom: 0;
              border-bottom: none;
            }
            .list-item,
            .saving-block {
              display: none;
            }
            .arrow {
              bottom: 27px;
              transform: rotate(135deg) translateY(-50%);
              right: 16px;
            }
          }
        }
        .products-detail {
          border: 1px solid #EFF1FA;
          border-radius: 8px;
          .heading-title {
            margin-top: 0;
          }
          .total-order {
            margin-bottom: 0;
          }
        }
      }
    }
    .payment-method-list {
      margin-bottom: 24px;
      
      .payment-method {
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.08), 0px 2px 3px rgba(0, 0, 0, 0.04);
        border-radius: 8px;
        background-color: $white;
        padding: 24px 32px;
        display: flex;
        flex-direction: column;
        margin-bottom: 8px;
        .form-group {
          display: none;
        }
        &.selected {
          .form-group {
            display: block;
          }
        }
      }
      .payment-form {
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;
        margin-top: 24px;
        fieldset {
          width: 50%;
          display: flex;
          flex-direction: column;
          position: relative;
          &:not(:last-child) {
            margin-right: 44px;
          }
          .label {
            font-weight: 400;
            font-size: 14px;
            line-height: 26px;
            margin-bottom: 10px;
          }
          .input-control {
            border: 1px solid #C0C3CE;
            border-radius: 4px;
            height: 48px;
            padding-left: 12px;
          }
          .icon-cvv {
            position: absolute;
            right: 12px;
            bottom: 12px;
          }
        }
      }
    }
    .btn-wrapper {
      .btn {
        padding: 14px;
        font-weight: 500;
        font-size: 16px;
        line-height: 125%;
      }
    }
    .label-container {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 0;
      cursor: pointer;
      font-size: 22px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      .radio-input {
        margin-right: 8px;
      }
      .checkmark {
        position: absolute;
        top: -3px;
        right: 0px;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        border: 1px solid #C5CBD2;
        background-color: $white;
        &::after {
          content: "";
          position: absolute;
          display: none;
          transform: rotate(45deg);
          height: 14px;
          width: 8px;
          margin-left: 36%;
          border-bottom: 3px solid #fefefe;
          border-right: 3px solid #fff;
          top: 4px;
        }
      }
      input:checked ~ .checkmark {
        background-color: #2196F3;
        border-color: #2196F3;
      }
      input:checked ~ .checkmark:after {
        display: block;
      }
    }
    .payment-header {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      .icon-block {
        display: flex;
        align-items: center;
      }
      .svg-icon {
        margin-right: 16px;
      }
      h5 {
        margin-bottom: 0;
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;
      }
    }
    .section-block {
      background-color: $white;
      box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.08), 0px 2px 3px rgba(0, 0, 0, 0.04);
      border-radius: 8px;
      padding: 24px;
      margin-bottom: 24px;
    }
    .delivery-option-list {
      
      .delivery-option {
        &:not(:last-child) {
          border-bottom: 1px solid #EFF1FA;
          margin-bottom: 24px;
          padding-bottom: 24px;
        }
        .header-block {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 16px;
          h4 {
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 0;
          }
        }
        .option-list {
          li {
            position: relative;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            color: #545962;
            &:not(:last-child) {
              margin-bottom: 4px;
            }
            &::before {
              content: "";
              width: 6px;
              height: 6px;
              background-color: #C5CBD2;
              border-radius: 50%;
              margin-right: 16px;
              display: inline-block;
            }
          }
        }
      }
    }
    .delivery-address {
      h4 {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: $primary_text_color;
        margin-bottom: 8px;
      }
      color: #545962;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      address {
        margin-bottom: 16px;
      }
    }
    .summary-payment {

    }
  }
}

.checkout-footer-wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
  .info-list {
    display: flex;
    width: 100%;
    justify-content: space-between;
    li {
      display: flex;
      .svg-icon {
        margin-right: 16px;
      }
    }
  }
}

.member-container {
  display: flex;
  align-items: center;
  justify-content: center;
  .member-wrapper {
    background: $white;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.08), 0px 2px 3px rgba(0, 0, 0, 0.04);
    border-radius: 8px;
    max-width: 620px;
    width: 100%;
    padding: 32px;
    position: relative;
    .section-title {
      font-weight: 500;
      font-size: 20px;
      line-height: 26px;
      color: #1A1F26;
      margin-bottom: 24px;
    }
    .skip {
      position: absolute;
      top: 32px;
      right: 32px;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.04em;
      color: #545962;
      cursor: pointer;
    }
    
    .btn-buy-member {
      padding: 14px;
      font-weight: 500;
      font-size: 16px;
      line-height: 125%;
      background-color: $primary_color;
      color: $white;
      border-radius: 8px;
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 16px;
    }
    .btn-skip-member {
      padding: 14px;
      font-weight: 500;
      font-size: 16px;
      line-height: 125%;
      background-color: $white;
      color: $primary_color;
      width: 100%;
      display: flex;
      justify-content: center;
      border: 1px solid #2072DE;
      border-radius: 8px;
      transition: all 0.3s linear;
      &:hover {
        background-color: $primary_color;
        color: $white;
        transition: all 0.3s linear;
      }
    }
  }
}

@media (max-width: 767px) {
  .header-wrapper {
    .container {
      padding-left: 0;
      padding-right: 0;
      .logo-block {
        width: 100%;
        box-shadow: inset 0px -1px 0px #EBECF0;
        padding-left: 16px;
        padding-right: 16px;
        .back-arrow {
          display: flex;
          align-items: center;
          position: relative;
          margin-right: 16px;
          &::before {
            content: '';
            border: solid #1A1F26;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 4px;
            transform: rotate(135deg);
            position: absolute;
            left: 0;
          }
          &::after {
            content: "";
            width: 15px;
            height: 2px;
            background-color: #1A1F26;
          }
        }
        .header-title {
          font-weight: 600;
          font-size: 18px;
          line-height: 22px;
          color: $primary_text_color;
          margin-bottom: 0;
          margin-top: 12px;
          margin-bottom: 12px;
        }
      }
      .checkout-step-wrapper {
        padding-top: 12px;
        padding-bottom: 4px;
      }
    }
    .checkout-steps {
      li {
        &:not(:last-child){
          &::after {
            margin-left: 8px;
            margin-right: 8px;
            width: 16px;
            position: relative;
            top: -10px;
          }
        }
        .txt {
          font-size: 12px;
        }
      }
    }
  }
  .section-wrapper {
    padding-bottom: 60px;
    .container {
      flex-flow: column;
      padding-left: 0;
      padding-right: 0;
      .left-section {
        width: 100%;
        > .btn-block,
        > .btn-wrapper {
          padding: 8px 16px;
          filter: drop-shadow(0px 0px 1.97802px rgba(0, 0, 0, 0.08));
          background-color: $white;
          position: fixed;
          bottom: 0;
          width: 100%;
          margin-bottom: 0;
        }
        .mob-heading {
          width: 100%;
          padding-top: 20px;
          padding-bottom: 20px;
          padding-left: 16px;
          padding-right: 16px;
          font-size: 16px;
          font-weight: 600;
        }
        .select-address-wrapper {
          .head-section {
            flex-flow: column;
            justify-content: flex-start;
            margin-bottom: 0;
            .btn-address {
              width: 100%;
              border-top: 1px solid #E5E6EA;
              border-bottom: 1px solid #E5E6EA;
              text-align: left;
              padding-top: 16px;
              padding-bottom: 16px;
              padding-left: 16px;
              padding-right: 16px;
            }
          }
          .address-list {
            li {
              border-radius: 0;
              margin-bottom: 0;
              &.selected {
                box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.08), 0px 2px 3px rgba(0, 0, 0, 0.04);
              }
              .header-block {
                .label-container {
                  .radio-input {
                    top: 0;
                  }
                }
              }
            }
          }
          .btn-block {
            margin-bottom: 0;
          }
        }
        .address-wrapper {
          box-shadow: none;
          border-radius: 0;
          padding: 16px;
          .field-group {
            fieldset:not(:last-child) {
              margin-right: 16px;
            }
          }
        }
        .block-wrapper {
          background-color: $white;
          h2 {
            padding-top: 12px;
            padding-left: 16px;
            margin: 0;
            font-size: 16px;
            line-height: 20px;
          }
          .section-block {
            border-radius: 0;
            box-shadow: none;
            padding-left: 16px;
            padding-right: 16px;
          }
        }
        .label-container {
          .checkmark {
            width: 18px;
            height: 18px;
            top: 1px;
            &::after {
              border-bottom: 2px solid #fefefe;
              border-right: 2px solid #fefefe;
              top: 1px;
              width: 6px;
              height: 12px;
            }
          }
          .radio-input {
            margin-right: 0;
          }
        }
      }
      .checkout-product-section {
        width: 100%;
        .cart-wrapper {
          margin-left: 0;
          .cart-header {
            padding-left: 16px;
            padding-right: 16px;
          }
          .cart-product-list {
            border-radius: 0;
          }
          .products-detail {
            border-radius: 0;
          }
          .cart-header-wrapper {
            .cart-header {
              background-color: $white;
              padding: 16px;
              margin: 0;
            }
          }
        }
      }
      .payment-header {
        h5 {
          font-weight: 400;
        }
      }
      .payment-method-list {
        .payment-method {
          border-radius: 0;
        }
        .payment-form {
          flex-flow: column;
          fieldset {
            width: 100%;
            margin-bottom: 24px;
            &:not(:last-child) {
              margin-right: 0;
            }
          }
        }
      }
      .delivery-option-list {
        margin-top: 16px;
        border-radius: 0;
        box-shadow: none;
        .delivery-option {
          .mob-heading {
            padding-top: 0;
            padding-left: 0;
            padding-right: 0;
            margin-bottom: 8px;
          }
        }
      }
    }
    &.summary-section {
      .container {
        position: relative;
        padding-bottom: 270px;
        // .cart-header-wrapper {
        //   position: absolute;
        //   top: 0;
        // }
        .checkout-product-section {
          .cart-wrapper:not(.cart-header-block) {
            position: fixed;
            bottom: 0;
            z-index: 2;
            left: 0;
            right: 0;
            top: inherit;
            background: $white;
            .btn-wrapper {
              padding: 8px 16px;
              margin: 0;
            }
          }
        }
      }
    }
  }
  body .member-container {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 65px;
    .member-wrapper {
      border-radius: 0;
      padding: 24px 16px;
      .section-title {
        font-size: 18px;
      }
      .btn-wrapper {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px 16px;
        border-top: 1px solid #EEEEEF;
        left: 0;
        .btn-buy-member {
          margin-bottom: 0;
        }
      }
    }
  }
}