@import 'globals/reset';
@import 'globals/default';
@import 'globals/colors';
@import 'globals/common';

@import 'components/header.scss';

.login-wrapper {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    .modal-body {
      max-width: 420px;
      width: 100%;
      background-color: $white;
      box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.08), 0px 2px 3px rgba(0, 0, 0, 0.04);
      border-radius: 8px;
      display: flex;
      flex-flow: column;
      padding: 48px;
      min-height: 500px;
      position: relative;
      .otp-modal {
        .title {
          margin-bottom: 8px;
        }
        input[type=number] {
          height: 48px;
          width: 48px;
          font-size: 25px;
          text-align: center;
          border: 1px solid #C0C3CE;
          border-radius: 4px;
          &:not(:last-child) {
            margin-right: 12px;
          }
        }
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }
      .login-modal {
        
      }
      .svg-close {
        position: absolute;
        top: 32px;
        right: 16px;
        cursor: pointer;
      }
      .title {
        font-weight: 600;
        font-size: 18px;
        line-height: 26px;
        color: $primary_text_color;
        margin-bottom: 40px;
      }
      .sub-heading {
        display: flex;
        color: $primary_color;
        font-size: 13px;
        font-weight: 500;
        margin-bottom: 40px;
      }
      .input-control {
        height: 48px;
        border: 1px solid #C0C3CE;
        border-radius: 4px;
        padding-left: 12px;
        width: 100%;
      }

      .btn {
        font-size: 16px;
        padding: 14px;
        line-height: 1.25;
        width: 100%;
      }
      .footer-link {
        display: flex;
        position: absolute;
        bottom: 48px;
        a {
          color: #A5ABB3;
          font-size: 13px;
          line-height: 1.25;
          &:hover {
            color: $primary_color;
          }
        }
        li:not(:last-child) {
          &::after {
            margin: 0 8px;
            content: "•";
            color: #A5ABB3;
          }
        }
      }
      .control-wrapper {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
        
      }
    }
  }
}

@media (max-width:767px) {
  .login-page {
    background-color: $white;
  }
  .login-wrapper {
    .container {
      padding: 0;
      .modal-body {
        box-shadow: none;
        padding-left: 16px;
        padding-right: 16px;
        .svg-close {
          display: none;
        }
        .footer-link {
          position: fixed;
          bottom: 0;
          left: 0;
          width: 100%;
          padding: 16px;
        }
      }
    }
  }
}