@import 'globals/reset';
@import 'globals/default';
@import 'globals/colors';
@import 'globals/common';

@import 'components/header.scss';
@import 'components/breadcrumb';
@import 'components/product-item.scss';
@import 'components/footer.scss';

.breadcrumb-section {
  padding-top: 20px;
  .container {
    display: flex;
    justify-content: space-between;
  }
}

.product-container {
  display: flex;
  padding: 32px;
  background-color: $white;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.08), 0px 2px 3px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
}

.product-section {
  .product-gallery {
    width: 50%;
    display: flex;
    .thumb-slider {
      width: 56px;
      .swiper-wrapper {
        display: flex;
        flex-wrap: wrap;
        padding-top: 40px;
      }
      .swiper-slide {
        height: 56px;
        width: 56px !important;
        margin-bottom: 16px;
        border: 1px solid #EFF1FA;
        border-radius: 4px;
        overflow: hidden;
        &.swiper-slide-thumb-active {
          border-color: $primary_color;
          border-width: 2px;
        }
      }
      .swiper-button {
        background: #F5F8FA;
        border-radius: 4px;
        transform: matrix(1, 0, 0, -1, 0, 0);
        height: 24px;
        width: 56px;
        left: 0;
        right: 0;
        &.swiper-button-next {
          bottom: 0;
          left: 0;
          top: inherit;
          &::after {
            transform: rotate(270deg);
            color: #1A1F26;
            font-size: 16px;
          }
        }
        &.swiper-button-prev {
          top: 0;
          margin: 0;
          &::after {
            transform: rotate(270deg);
            color: #1A1F26;
            font-size: 16px;
          }
        }
      }
    }
    .product-slider {
      border: 1px solid #EFF1FA;
      border-radius: 8px;
      overflow: hidden;
      width: 448px;
      padding: 36px 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      .swiper-wrapper {
        .swiper-slide {
          max-width: 398px;
          max-height: 398px;
          border-radius: 8px;
          overflow: hidden;
        }
      }
    }
  }
  .product-detail {
    width: 50%;
    padding-left: 32px;
    padding-top: 16px;
    .product-title {
      font-size: 20px;
      color: $primary_text_color;
      line-height: 1.3;
      font-weight: 500;
      margin: 0;
    }
    .price-block {
      margin-top: 16px;
      margin-bottom: 8px;
      span {
        &.price {
          color: $primary_text_color;
          font-size: 32px;
          font-weight: 400;
          line-height: 1.25;
        }
        &.discounted {
          text-decoration: line-through;
          font-size: 16px;
          color: #9BA4B1;
        }
        &.off-percent {
          color: #249436;
          font-size: 18px;
          font-weight: 500;
        }
      }
    }
    .info {
      color: #222F42;
      font-size: 14px;
      font-weight: 400;
    }
    .delivery-section {
      background-color: #EAF3FF;
      border-radius: 8px;
      padding: 24px;
      margin-bottom: 24px;
      h5 {
        color: $primary_text_color;
        font-weight: 400;
        font-size: 14px;
        label {
          margin-left: 8px;
        }
      }
      .delivery-form {
        position: relative;
        max-width: 260px;
        .input-control {
          border: 1px solid #C0C3CE;
          border-radius: 4px;
          height: 36px;
          width: 100%;
          padding-left: 16px;
          &:focus {
            border-color: $primary_color;
          }
        }
        .btn-check {
          font-size: 13px;
          line-height: 16px;
          font-weight: 500;
          color: $primary_color;
          position: absolute;
          right: 16px;
          background-color: transparent;
          border: none;
          outline: none;
          top: 10px;
        }
      }
    }
    .btn-wrapper {
      margin-bottom: 54px;
      .wishlist-icon {
        display: none;
        border: 1px solid rgba(26,31,38,.23);
        border-radius: 8px;
        width: 60px;
        align-items: center;
        justify-content: center;
        margin-right: 8px;
        cursor: pointer;
        svg {
          stroke: #2072de;
          stroke-width: 1px;
          width: 24px;
        }
      }
      .btn-cart {
        background-color: $primary_color;
        font-size: 16px;
        font-weight: 500;
        color: $white;
        width: 100%;
        padding: 14px;
        border-radius: 8px;
      }
    }
    .info-list {
      display: flex;
      justify-content: space-between;
      border-top: 1px solid #EFF1FA;
      padding-top: 16px;
      li {
        svg {
          width: 36px;
          height: 36px;
        }
        span {
          font-size: 14px;
          color: #616F84;
          line-height: 17px;
        }
      }
    }
  }
}

.product-detail-section {
  margin-top: 40px;
  .container {
    .product-detail-tab-container {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      flex-flow: column;
      .product-tabs {
        display: flex;
        border-bottom: 1px solid #EFF1FA;
        padding-bottom: 19px;
        margin-bottom: 32px;
        li {
          font-size: 13px;
          line-height: 16px;
          font-weight: 600;
          color: #545962;
          margin-right: 32px;
          position: relative;
          cursor: pointer;
          &.active {
            color: $primary_color;
            &::after {
              content: "";
              border-bottom: 2px solid $primary_color;
              position: absolute;
              left: 0;
              right: 0;
              bottom: -20px;
            }
          }
          &:hover {
            color: $primary_color;
          }
        }
      }
      .tab-content {
        .content-detail {
          display: none;
          &.active {
            display: block;
          }
        }
      } 
    }
    h3 {
      font-size: 18px;
      line-height: 26px;
      font-weight: 600;
      margin-bottom: 24px;
    }
    .unorder-list {
      list-style-type: disc;
      padding-left: 20px;
      li {
        margin-bottom: 24px;
      }
    }
    table {
      color: #545962;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
    }
    .seprator {
      background-color: #FAFBFC;
      height: 8px;
      border: none;
    }
    .product-details-container {
      border-radius: 0;
      flex-flow: column;
    }
    .how-to-use-container {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      flex-flow: column;
      margin-bottom: 40px;
    }
  }
}

.similar-product-section {
  margin-bottom: 40px;
  .section-title {
    font-size: 20px;
    line-height: 26px;
    color: $primary_text_color;
    font-weight: 600;
    margin-bottom: 24px;
  }
  .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    li {
      width: 24%;
      background-color: $white;
    }
  }
}

@media (max-width:1024px) {
  .header-wrapper .container.header-nav {
    display: none;
  }
}

@media (max-width:767px) {
  .product-page {
    padding-bottom: 64px;
  }
  .breadcrumb-section {
    display: none;
  }
  .product-section .container,
  .product-detail-section .container {
    background-color: $white;
  }
  .product-detail-section {
    margin-top: 16px;
  }
  .product-container {
    flex-flow: column;
    padding: 32px 0;
    box-shadow: none;
    border: none;
  }
  .product-section {
    .product-gallery {
      width: 100%;
      .thumb-slider {
        display: none;
      }
      .product-slider {
        padding: 0;
      }
    }
    .product-detail {
      padding: 0;
      width: 100%;
      padding-top: 28px;
      .btn-wrapper {
        display: flex;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 8px 16px;
        background-color: $white;
        margin-bottom: 0;
        filter: drop-shadow(0px 0px 1.97802px rgba(0, 0, 0, 0.08));
        z-index: 2;
        .wishlist-icon {
          display: flex;
        }
      }
      .product-title {
        font-optical-sizing: 18px;
        font-weight: 500;
      }
      .info-list {
        li {
          display: flex;
          align-items: center;
          flex-flow: column;
          padding: 0 10px;
          text-align: center;
          .svg-icon {
            margin-bottom: 8px;
          }
        }
      }
    }
  }
  .similar-product-section {
    .product-list {
      li {
        width: 50%;
        border-radius: 0;
        box-shadow: 0px 0px 1.97802px rgba(0, 0, 0, 0.08), 0px 1.31868px 1.97802px rgba(0, 0, 0, 0.04);
      }
    }
  }
}