@import 'globals/reset';
@import 'globals/default';
@import 'globals/colors';
@import 'globals/common';

@import 'components/header.scss';
@import 'components/swiper.scss';
@import 'components/top-brand.scss';
@import 'components/feature-brand.scss';
@import 'components/footer.scss';

body {
  padding-top: 110px;
}

.swiper-section,
.deal-section,
.top-brand-section,
.feature-brand-section,
.info-section,
.top-category-section,
.budget-section,
.clearance-sale {
  margin-bottom: 80px;
}

.deal-section {
  .link-item {
    picture {
      width: 100%;
    }
    display: flex;
    border-radius: 8px;
    overflow: hidden;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transition-duration: 0.3s;
    transition-property: box-shadow;
    &:hover {
      cursor: pointer;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    }
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}

.info-section {
  .info-list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #FFFAEE;
    padding-top: 38px;
    padding-bottom: 38px;
    li {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      img {
        margin-right: 16px;
      }
    }
  }
}

.budget-section {
  .budget-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    .budget-item {
      border: 10px solid #A8CDFF;
      filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.08)) drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.04));
      color: $primary_text_color;
      border-radius: 8px;
      margin-right: 16px;
      max-width: 260px;
      width: 25%;
      margin-bottom: 20px;
      height: 138px;
      .item-block {
        padding: 15px;
        border: 1px solid $primary_text_color;
        display: flex;
        align-items: baseline;
        justify-content: center;
        height: 100%;
        padding-top: 20px;
      }
      .small {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
      }
      .large {
        font-weight: 800;
        font-size: 60px;
        line-height: 73px;
      }
      .off {
        position: relative;
        &::after {
          content: "%";
          position: absolute;
          left: 0;
          top: -25px;
        }
      }
    }
  }
}

@media (max-width:767px) {
  body {
    padding-top: 0;
  }

  .swiper-section,
  .deal-section,
  .top-brand-section,
  .feature-brand-section,
  .info-section,
  .top-category-section,
  .budget-section,
  .clearance-sale {
    margin-bottom: 40px;
  }

  .info-section {
    .info-list {
      box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.08), 0px 2px 3px rgba(0, 0, 0, 0.04);
      border-radius: 8px;
      li {
        flex-flow: column;
        text-align: center;
        padding: 0 8px;
        img {
          margin-right: 0;
        }
        span {
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
  }

  .budget-section {
    .budget-list {
      .budget-item {
        width: 46%;
        height: 100px;
        &:nth-child(even) {
          margin-right: 0;
        }
        .off::after {
          top: -15px;
        }
        .small {
          font-size: 12px;
          line-height: 14px;
        }
        .large {
          font-size: 34px;
          line-height: 41px;
        }
      }
    }
  }
}