.footer-wrapper {
  .footer-top-section {
    background: #F3F6F9;
    border: 1px solid #EFF1FA;
    padding-top: 24px;
    padding-bottom: 24px;
    .section-item {
      &.social-app {
        .link-item {
          img {
            max-width: 130px;
          }
        }
      }
    }
    .container {
      justify-content: space-between;
    }
    .item-block {
      display: flex;
      align-items: center;
      > svg {
        margin-right: 12px;
      }
      .item-content {
        display: flex;
        flex-flow: column;
        color: #545962;
        .item-link {
          color: #545962;
          font-weight: 600;
          font-size: 16px;
          line-height: 19px;
        }
        span {
          font-size: 14px;
          line-height: 17px;
        }
      }
      .link-item {
        &:not(:last-child) {
          margin-right: 12px;
        }
      }
      .subscription-form {
        background: #FFFFFF;
        border: 1px solid #EFF1FA;
        display: flex;
        min-width: 300px;
        max-width: 350px;
        display: flex;
        align-items: center;
        position: relative;
        .img-email {
          width: 16px;
          height: 16px;
          position: absolute;
          left: 12px;
        }
        .input-text {
          height: 40px;
          padding-left: 32px;
          width: 100%;
          border-top: 1px solid $white;
          border-bottom: 1px solid $white;
          border-left: 1px solid $white;
          &:focus{
            border-color: $primary_color;
          }
        }
        .btn-send {
          background-color: $primary_color;
          width: 40px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          outline: none;
          border: none;
        }
      }
    }
    .block-heading {
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: $primary_text_color;
      margin-bottom: 16px;
      text-transform: uppercase;
    }
  }
  .footer-navigation-section {
    padding-top: 64px;
    padding-bottom: 64px;
    background-color: $white;
    .footer-menu-list {
      display: flex;
      justify-content: space-between;
      padding-bottom: 64px;
      li {
        > h4 {
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          color: $primary_text_color;
          margin-bottom: 24px;
          text-transform: uppercase;
        }
        .menu-list {
          li {
            &:not(:last-child) {
              margin-bottom: 16px;
            }
            a {
              color: #545962;
              font-size: 14px;
              line-height: 17px;
              &:hover {
                color: $primary_color;
              }
            }
          }
        }
      }
    }
    .info-list {
      display: flex;
      justify-content: space-between;
      li {
        display: flex;
        width: 22%;
        align-items: center;
        &.stay-connected {
          border-left: 1px dashed #C0C3CE;
          padding-left: 40px;
        }
        svg {
          width: 65px;
        }
      }
      .item-content {
        padding-left: 16px;
        width: 260px;
        h5 {
          font-weight: 600;
          font-size: 14px;
          line-height: 17px;
          color: $primary_text_color;
          margin-bottom: 8px;
        }
        span {
          color: #545962;
          font-size: 14px;
          line-height: 17px;
        }
      }
      .social-links {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .social-link {
          width: 20px;
          height: 20px;
          &:not(:last-child) {
            margin-right: 8px;
          }
          // &.inta-link {
          //   background-position: -27px 0px;
          // }
          // &.youtube-link {
          //   background-position: -56px 0;
          // }
        }
      }
    }
  }
  .footer-bottom-section {
    background-color: #E5E5E5;
    border-top: 1px solid #EFF1FA;
    padding-top: 32px;
    padding-bottom: 32px;
    .footer-links {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 16px;
      li {
        &:not(:last-child) {
          margin-right: 32px;
        }
        a {
          color: #545962;
          font-size: 12px;
          line-height: 15px;
          font-weight: 500;
          text-transform: uppercase;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    .copyright-text {
      color: #8C94A0;
      font-size: 12px;
      line-height: 15px;
      font-weight: 500;
      text-align: center;
      margin-bottom: 0;
    }
  }
}

@media (min-width:768px) and (max-width:1024px) {
  .footer-wrapper {
    .footer-top-section {
      .item-block {
        .link-item {
          img {
            max-width: 100px;
          }
        }
        // .subscription-form {
        //   min-width: 200px;
        // }
      }
    }
  }
}

@media (max-width:1024px) {
  .footer-wrapper {
    .footer-top-section {
      .container {
        flex-wrap: wrap;
        justify-content: center;
        .section-item {
          width: 100%;
          max-width: 300px;
          margin-bottom: 20px;
          &.social-app {
            justify-content: center;
            flex-wrap: wrap;
            display: flex;
          }
          @media (max-width:767px) {
            &:not(:last-child) {
              margin-bottom: 48px;
            }
          }
        }
      }
      .item-block {
        .subscription-form {
          max-width: 100%;
        }
      }
    }
    .footer-navigation-section {
      padding-top: 34px;
      padding-bottom: 34px;
      .footer-menu-list {
        display: none;
      }
      .info-list {
        flex-wrap: wrap;
        li {
          width: 30%;
          flex-flow: column;
          &:nth-child(2n+2):not(:last-child) {
            margin-left: 16px;
            margin-right: 16px;
          }
          .item-content {
            flex-flow: column;
            width: 100%;
            text-align: center;
            padding-left: 0;
            span {
              font-size: 12px;
              line-height: 20px;
            }
          }
          &.stay-connected {
            width: 100%;
            margin-top: 32px;
            border-top: 1px dashed #c0c3ce;
            border-left: none;
            padding-left: 0;
            padding-top: 16px;
            .social-links {
              justify-content: center;
            }
          }
        }
      }
    }
    .footer-bottom-section {
      .footer-links {
        flex-wrap: wrap;
        li {
          width: 50%;
          text-align: center;
          margin-bottom: 16px;
          &:not(:last-child) {
            margin-right: 0;
          }
        }
      }
    }
  }
}