.header-wrapper {
  position: fixed;
  top: 0;
  z-index: 9;
  width: 100%;
  background-color: $white;
  box-shadow: inset 0px -1px 0px #EBECF0;
  .container {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    padding-bottom: 8px;
    align-items: center;
    .btn-hamburger {
      display: none;
    }
    &.header-nav {
      padding-bottom: 0;
    }
    .logo-block {
      display: flex;
      align-items: center;
      .btn-hamburger {
        margin-right: 16px;
        position: relative;
        &::after {
          content: "";
          width: 100%;
          position: absolute;
          background: #000;
          height: 2px;
          left: 0;
          top: 3.5px;
        }
      }
    }

    .logo {
      max-width: 116px;
      display: block;
    }

    .search-block {
      width: 100%;
      max-width: 700px;

      .search-form {
        position: relative;
        display: flex;
        align-items: center;
      }

      .input-search {
        border: 1px solid #C0C3CE;
        border-radius: 8px;
        height: 48px;
        width: 100%;
        text-indent: 30px;
        color: $primary_text_color;
        font-size: 14px;
        line-height: 16px;

        &:focus {
          border-color: $primary_color;
        }
      }

      .btn-search {
        position: absolute;
        left: 5px;
        svg {
          background-color: $white;
        }
      }
    }

    .user-action {
      display: flex;
      .download-app {
        display: flex;
        align-items: center;
        color: $primary_text_color;
        font-size: 14px;
        line-height: 16px;
        font-weight: 400;
        .svg-icon {
          margin-right: 4px;
        }
      }
      .user-action-link {
        color: $primary_text_color;
        font-size: 14px;
        line-height: 16px;
        margin-right: 0;
        &:hover{
          color: $primary_color;
        }
        &.user-cart {
          position: relative;
          .cart-count {
            background-color: $primary_color;
            color: $white;
            position: absolute;
            min-width: 20px;
            height: 20px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            bottom: 8px;
            left: 8px;
            padding: 4px;
          }
        }
      }
      .profile-wrapper {
        position: relative;
        .profile-menu-section {
          padding: 16px;
          position: absolute;
          background-color: $white;
          box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.16);
          border-radius: 6px;
          width: 220px;
          z-index: 2;
          display: none;
          .menu-head {
            display: flex;
            border-bottom: 1px solid #EBECF0;
            padding-bottom: 24px;
            margin-bottom: 8px;
            .icon-profile {
              margin-right: 16px;
            }
            .profile-info {
              h6 {
                font-weight: 600;
                font-size: 16px;
                line-height: 16px;
                color: $primary_text_color;
                margin-bottom: 4px;
              }
              span {
                font-size: 14px;
                line-height: 16px;
                color: #545962;
              }
            }
          }
          .mob-menu-list {
            li {
              a {
                font-size: 16px;
                line-height: 16px;
                color: $primary_text_color;
                padding: 12px 0;
                display: block;
                position: relative;
                .svg-icon {
                  margin-right: 12px;
                }
                &:hover {
                  color: $primary_color;
                }
              }
              &.logout {
                a {
                  color: #DE2B20;
                }
              }
            }
          }
        }
        &:hover {
          .profile-menu-section {
            display: block;
          }
        }
      }
      .user-signup {
        &::before {
          content: "/";
          margin-right: 8px;
          color: $primary_text_color;
        }
      }
      @media (min-width:1025px) {
        .user-wishlist {
          margin-left: 24px;
          margin-right: 24px;
        }
      }
    }

    .menu-navigation {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      > li {
        display: flex;
        @media (min-width:1025px) {
          &:hover {
            .menu-block {
              display: block;
            }
          }
        }
        &:not(:last-child) {
          margin-right: 88px;
        }
        &.active {
          >a {
            color: $primary_color;
            font-weight: 600;
            &::before {
              right: 0;
            }
          }
        }
        > a {
          color: $primary_text_color;
          font-size: 13px;
          line-height: 16px;
          font-weight: 500;
          padding-bottom: 14px;
          img {
            display: none;
          }
        }
        .menu-block {
          background: rgba(26, 31, 38, 0.75);
          position: fixed;
          top: 100px;
          bottom: 0;
          left: 0;
          right: 0;
          display: none;
        }
        .menu-container {
          background-color: $white;
          border: 1px solid #EBECF0;
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.06);
          border-radius: 0px 0px 8px 8px;
          padding: 0;
          .menu-list {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            > li {
              width: 16.6%;
              padding-top: 24px;
              padding-left: 24px;
              &:nth-child(even) {
                background-color: #F9FBFE;
              }
              .menu-title {
                font-weight: 600;
                color: $primary_color;
                margin-bottom: 16px;
                display: block;
              }
              .sub-menu-links {
                width: 100%;
                li {
                  &:not(:last-child) {
                    margin-bottom: 16px;
                  }
                }
                a {
                  color: #545962;
                  &:hover {
                    color: $primary_text_color;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width:768px) and (max-width:1024px) {
  .header-wrapper {
    .container {
      .search-block {
        max-width: 340px;
      }
      .menu-navigation{
        >li{
          &:not(:last-child) {
            margin-right: 36px;
          }
        }
      }
    }
  }
  
}

@media (max-width:1024px) {
  .header-wrapper {
    position: static;
    .container {
      padding: 8px 16px;
      &.header-nav {
        padding-bottom: 20px;
        background: #FAFBFC;
      }
      &.top-header-container {
        .btn-hamburger {
          display: block;
        }
        flex-wrap: wrap;
        box-shadow: inset 0px -1px 0px #EBECF0;
        .search-block {
          @media (max-width:767px) {
            order: 3;
            margin-top: 16px;
          }
        }
      }
      .menu-navigation{
        overflow-x: auto;
        &>li {
          padding: 0;
          &:not(:last-child) {
            margin-right: 8px;
          }
          margin-right: 8px;
          background: #FBF6E5;
          box-shadow: 0px 0px 1.75532px rgba(0, 0, 0, 0.08), 0px 1.17021px 1.75532px rgba(0, 0, 0, 0.04);
          border-radius: 8px;
          width: 88px;
          height: 97px;
          &:nth-child(even) {
            background: #E5EEFB;
          }
          >a {
            padding-bottom: 0;
            width: 88px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column;
            text-align: center;
            img {
              display: block;
              border-radius: 50%;
              margin-bottom: 8px;
            }
          }
        }
      }
      
    }
  }
  .user-action {
    .user-action-link {
      margin-left: 12px;
      margin-right: 12px;
      span,
      &.user-signup {
        display: none;
      }
    }
    .download-app {
      span {
        display: none;
      }
    }
  }
}

@media (max-width:767px) {
  .mobile-header {
    box-shadow: inset 0 -1px 0 #ebecf0;
    background-color: $white;
    justify-content: space-between;
    align-items: center;
    h2 {
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      color: $primary_text_color;
      display: flex;
      padding: 26px 16px;
      margin-bottom: 0;
      .back-arrow {
        display: flex;
        align-items: center;
        position: relative;
        margin-right: 16px;
        &::before {
          content: '';
          border: solid #1A1F26;
          border-width: 0 2px 2px 0;
          display: inline-block;
          padding: 4px;
          transform: rotate(135deg);
          position: absolute;
          left: 0;
        }
        &::after {
          content: "";
          width: 15px;
          height: 2px;
          background-color: #1A1F26;
        }
      }
    }
  }
}

.mobile-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 3;
  background-color: $white;
  width: 100%;
  flex-direction: column;
  display: none;
  .mob-menu-heading {
    display: flex;
    padding: 26px 16px;
    margin-bottom: 0;
    box-shadow: inset 0px -1px 0px #EBECF0;
    .back-arrow {
      display: flex;
      align-items: center;
      position: relative;
      margin-right: 16px;
      &::before {
        content: '';
        border: solid #1A1F26;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 4px;
        transform: rotate(135deg);
        position: absolute;
        left: 0;
      }
      &::after {
        content: "";
        width: 15px;
        height: 2px;
        background-color: #1A1F26;
      }
    }
  }
  .mobile-menu-section {
    padding: 16px;
    .menu-head {
      display: flex;
      border-bottom: 1px solid #EBECF0;
      padding-bottom: 24px;
      margin-bottom: 8px;
      .icon-profile {
        margin-right: 16px;
      }
      .profile-info {
        h6 {
          font-weight: 600;
          font-size: 16px;
          line-height: 16px;
          color: $primary_text_color;
          margin-bottom: 4px;
        }
        span {
          font-size: 14px;
          line-height: 16px;
          color: #545962;
        }
      }
    }
    .mob-menu-list {
      li {
        a {
          font-size: 16px;
          line-height: 16px;
          color: $primary_text_color;
          padding: 12px 0;
          display: block;
          position: relative;
          .svg-icon {
            margin-right: 12px;
          }
          .arrow-right {
            border: solid #000;
            border-width: 2px 2px 0 0;
            padding: 0;
            transform: rotate(45deg);
            width: 10px;
            height: 10px;
            margin: 0;
            position: absolute;
            right: 20px;
            top: 20px;
            transition: .3s ease-in-out;
          }
        }
        &.logout {
          a {
            color: #DE2B20;
          }
        }
      }
    }
  }
}