.header-wrapper {
  position: fixed;
  top: 0;
  z-index: 9;
  width: 100%;
  background-color: $white;
  .container {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    padding-bottom: 8px;
    align-items: center;
    .btn-hamburger {
      display: none;
      border: 1.5px solid #000;
      width: 12px;
      height: 12px;
      border-left: none;
      border-right: none;
      background-color: transparent;
    }
    &.header-nav {
      padding-bottom: 0;
    }
    .logo-block {
      display: flex;
      align-items: center;
      .btn-hamburger {
        margin-right: 20px;
        position: relative;
        &::after {
          content: "";
          width: 100%;
          position: absolute;
          background: #000;
          height: 2px;
          left: 0;
          top: 3.5px;
        }
      }
    }

    .logo {
      max-width: 116px;
      display: block;
    }

    .search-block {
      width: 100%;
      max-width: 700px;

      .search-form {
        position: relative;
        display: flex;
        align-items: center;
      }

      .input-search {
        border: 1px solid #C0C3CE;
        border-radius: 8px;
        height: 48px;
        width: 100%;
        text-indent: 30px;
        color: $primary_text_color;
        font-size: 14px;
        line-height: 16px;

        &:focus {
          border-color: $primary_color;
        }
      }

      .btn-search {
        position: absolute;
        left: 5px;
      }
    }

    .user-action {
      .user-action-link {
        color: $primary_text_color;
        font-size: 14px;
        line-height: 16px;
        margin-right: 8px;
        &:hover{
          color: $primary_color;
        }
      }
      .user-signup {
        &::before {
          content: "/";
          margin-right: 8px;
          color: $primary_text_color;
        }
      }
      .user-wishlist {
        margin-left: 24px;
        margin-right: 24px;
      }
    }

    .menu-navigation {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      > li {
        display: flex;
        padding-bottom: 8px;
        &:hover {
          .menu-block {
            display: block;
          }
        }
        &:not(:last-child) {
          margin-right: 88px;
        }
        &.active {
          >a {
            color: $primary_color;
            &::before {
              right: 0;
            }
          }
        }
        > a {
          color: $primary_text_color;
          font-size: 13px;
          line-height: 16px;
          font-weight: 500;
          padding-bottom: 14px;
          img {
            display: none;
          }
        }
        .menu-block {
          background: rgba(26, 31, 38, 0.75);
          position: fixed;
          top: 100px;
          bottom: 0;
          left: 0;
          right: 0;
          display: none;
        }
        .menu-container {
          background-color: $white;
          border: 1px solid #EBECF0;
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.06);
          border-radius: 0px 0px 8px 8px;
          padding: 0;
          .menu-list {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            > li {
              width: 16.6%;
              padding-top: 24px;
              padding-left: 24px;
              &:nth-child(even) {
                background-color: #F9FBFE;
              }
              .menu-title {
                font-weight: 600;
                color: $primary_color;
                margin-bottom: 16px;
                display: block;
              }
              .sub-menu-links {
                width: 100%;
                li {
                  &:not(:last-child) {
                    margin-bottom: 16px;
                  }
                }
                a {
                  color: #545962;
                  &:hover {
                    color: $primary_text_color;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width:768px) and (max-width:1024px) {
  .header-wrapper {
    .container {
      .search-block {
        max-width: 340px;
      }
      .menu-navigation{
        >li{
          &:not(:last-child) {
            margin-right: 36px;
          }
        }
      }
    }
  }
  
}

@media (max-width:1024px) {
  .header-wrapper {
    position: static;
    .container {
      padding: 8px 16px;
      &.header-nav {
        padding-bottom: 20px;
      }
      &.top-header-container {
        .btn-hamburger {
          display: block;
        }
        flex-wrap: wrap;
        .search-block {
          @media (max-width:767px) {
            order: 3;
            margin-top: 16px;
          }
        }
      }
      .menu-navigation{
        overflow-x: auto;
        &>li {
          padding: 0;
          &:not(:last-child) {
            margin-right: 8px;
          }
          margin-right: 8px;
          background: #FBF6E5;
          box-shadow: 0px 0px 1.75532px rgba(0, 0, 0, 0.08), 0px 1.17021px 1.75532px rgba(0, 0, 0, 0.04);
          border-radius: 8px;
          width: 88px;
          height: 97px;
          &:nth-child(even) {
            background: #E5EEFB;
          }
          >a {
            padding-bottom: 0;
            width: 88px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column;
            text-align: center;
            img {
              display: block;
              border-radius: 50%;
              margin-bottom: 8px;
            }
          }
        }
      }
      .user-action {
        .user-action-link {
          margin-left: 12px;
          margin-right: 12px;
          span,
          &.user-signup {
            display: none;
          }
        }
      }
    }
  }
}