.header-wrapper {
  position: fixed;
  top: 0;
  z-index: 9;
  width: 100%;
  background-color: $white;
  .container {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    align-items: center;
    &.header-nav {
      padding-bottom: 0;
    }

    .logo {
      max-width: 116px;
    }

    .search-block {
      width: 100%;
      max-width: 700px;

      .search-form {
        position: relative;
        display: flex;
        align-items: center;
      }

      .input-search {
        border: 1px solid #C0C3CE;
        border-radius: 8px;
        height: 48px;
        width: 100%;
        text-indent: 30px;
        color: $primary_text_color;
        font-size: 14px;
        line-height: 16px;

        &:focus {
          border-color: $primary_color;
        }
      }

      .btn-search {
        position: absolute;
        left: 5px;
      }
    }

    .user-action {
      .user-action-link {
        color: $primary_text_color;
        font-size: 14px;
        line-height: 16px;
        margin-right: 8px;
        &:hover{
          color: $primary_color;
        }
      }
      .user-signup {
        &::before {
          content: "/";
          margin-right: 8px;
          color: $primary_text_color;
        }
      }
      .user-wishlist {
        margin-left: 24px;
        margin-right: 24px;
      }
    }

    .menu-navigation {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      > li {
        display: flex;
        padding-bottom: 8px;
        &:hover {
          .menu-block {
            display: block;
          }
        }
        &:not(:last-child) {
          margin-right: 88px;
        }
        &.active {
          >a {
            color: $primary_color;
            &::before {
              right: 0;
            }
          }
        }
        > a {
          color: $primary_text_color;
          font-size: 13px;
          line-height: 16px;
          font-weight: 500;
          padding-bottom: 14px;
        }
        .menu-block {
          background: rgba(26, 31, 38, 0.75);
          position: fixed;
          top: 100px;
          bottom: 0;
          left: 0;
          right: 0;
          display: none;
        }
        .menu-container {
          background-color: $white;
          border: 1px solid #EBECF0;
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.06);
          border-radius: 0px 0px 8px 8px;
          padding: 0;
          .menu-list {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            > li {
              width: 16.6%;
              padding-top: 24px;
              padding-left: 24px;
              &:nth-child(even) {
                background-color: #F9FBFE;
              }
              .menu-title {
                font-weight: 600;
                color: $primary_color;
                margin-bottom: 16px;
                display: block;
              }
              .sub-menu-links {
                width: 100%;
                li {
                  &:not(:last-child) {
                    margin-bottom: 16px;
                  }
                }
                a {
                  color: #545962;
                  &:hover {
                    color: $primary_text_color;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}