.product-card {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.08), 0px 2px 3px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  position: relative;
  .img-block {
    padding: 16px;
    margin-bottom: 16px;
  }
  .product-title {
    padding-left: 16px;
    padding-right: 16px;
    font-size: 14px;
    font-weight: 400;
    color: #545962;
    line-height: 1.25;
    margin-bottom: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    /* autoprefixer: off */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .price-block {
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 16px;
    span {
      &.price {
        color: $primary_text_color;
        font-size: 20px;
        line-height: 1.25;
      }
      &.discounted {
        text-decoration: line-through;
        font-size: 14px;
        color: #9BA4B1;
      }
      &.off-percent {
        color: #249436;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
  @media (max-width:767px) {
    .price-block {
      margin-bottom: 10px;
      span {
        &.price {
          font-size: 16px;
          font-weight: 700;
          line-height: 20px;
        }
        &.off-percent,
        &.discounted {
          font-size: 12px;
          line-height: 15px;
        }
      }
    }
  }
  .product-action-block {
    @media (min-width:1025px) {
      display: none;
      position: absolute;
      bottom: 0;
      width: 100%;
    }
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 8px;
    .wishlist-icon {
      border: 1px solid rgba(26, 31, 38, 0.23);
      border-radius: 8px;
      width: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 8px;
      cursor: pointer;
      &.active {
        svg {
          stroke: #DE2B20;
          fill: #DE2B20;
        }
      }
      svg {
        stroke: $primary_color;
        stroke-width: 1px;
        width: 24px;
      }
    }
    .add-to-cart {
      background-color: $primary_color;
      color: $white;
      border-radius: 8px;
      font-size: 16px;
      line-height: 1.25;
      font-weight: 500;
      padding: 10px 24px;
      width: calc(100% - 70px);
      text-align: center;
      cursor: pointer;
    }
    @media (max-width:1024px) {
      display: flex;
      margin-bottom: 0;
      .wishlist-icon {
        background: rgba(26, 31, 38, 0.23);
        border-radius: 50%;
        border: none;
        width: 28px;
        height: 28px;
        position: absolute;
        top: 9px;
        right: 12px;
        margin-right: 0;
        svg {
          stroke: $white;
          width: 16px;
        }
      }
      .add-to-cart {
        width: 100%;
        background-color: transparent;
        color: $primary_color;
        font-size: 12px;
      }
    }
  }
  @media(min-width:1025px) {
    padding-bottom: 40px;
    &:hover {
      .product-action-block {
        display: flex;
      }
    }
  }
}