.product-card {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.08), 0px 2px 3px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  padding-bottom: 40px;
  .img-block {
    padding: 16px;
    margin-bottom: 16px;
  }
  .product-title {
    padding-left: 16px;
    padding-right: 16px;
    font-size: 14px;
    color: #545962;
    line-height: 1.25;
    margin-bottom: 16px;
  }
  .price-block {
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 16px;
    span {
      &.price {
        color: $primary_text_color;
        font-size: 20px;
        line-height: 1.25;
      }
      &.discounted {
        text-decoration: line-through;
        font-size: 14px;
        color: #9BA4B1;
      }
      &.off-percent {
        color: #249436;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
}