.top-brand-section {
  .top-brand-list {
    display: flex;
    justify-content: space-between;
    
    flex-wrap: wrap;
    li {
      width: 49%;
      margin-bottom: 20px;
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      transition-duration: 0.3s;
      transition-property: box-shadow;
      border-radius: 8px;
      overflow: hidden;
      @media (max-width:767px) {
        display: flex;
        justify-content: center;
      }
      a {display: block;}
      &:hover {
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
        cursor: pointer;
      }
    }
  }
}

@media (max-width:767px) {
  .top-brand-section {
    .top-brand-list {
      li {
        width: 100%;
        margin-bottom: 8px;
      }
    }
  }
}