$white : #fff;
$black: #000;
$blue: #2072DE;
$light_blue: #77C4FF;
$lighter_blue: #B0CFE5;
$lightest_blue: #E4EEF5;

$primary_color: $blue !default;
$primary_text_color: #1A1F26 !default;
$primary_color_light: $light_blue !default;
$primary_color_lighter: $lighter_blue !default;
$primary_color_lightest: $lightest_blue !default;

$primary_color_dark: #2B416C;
$primary_color_darker: #1F2640;
$primary_color_darkest: #0B1933;
$primary_color_green: #64b305;

$color_secondary: #9CA2B7;
$color_secondary_light: #F1F1F4;
$color_secondary_electric: #7788A3;
$color_secondary_dark: #556789;
$color_secondary_darker: #394566;
$color_secondary_red: #E44D38;