body {
  padding-top: 101px;
}

.scroll-disabled {
  overflow: hidden;
}

@media (max-width:1024px) {
  body {
    padding-top: 0;
  }
}

@media (min-width:768px) {
  .hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      left: 0;
      right: 100%;
      bottom: 0;
      background: $primary_color;
      height: 4px;
      -webkit-transition-property: right;
      transition-property: right;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out;
    }

    &:hover {
      &::before {
        right: 0;
      }
    }
  }
}

.section-heading {
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: $primary_text_color;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  position: relative;
  margin-bottom: 40px;

  &::after,
  &::before {
    content: "";
    width: 30px;
    height: 40px;
    position: relative;
    top: 5px;
  }

  &::before {
    background: url(../../build/img/icon-graphic-left.png) no-repeat;
  }

  &::after {
    background: url(../../build/img/icon-graphic.png) no-repeat;
  }
}

.btn {
  background-color: $primary_color;
  color: $white;
  border-radius: 8px;
  font-size: 14px;
  padding: 12px 16px;
}

.w-100 {
  width: 100%;
}

.mt-24 {
  margin-top: 24px;
}

.mb-24 {
  margin-bottom: 24px;
}

.pt-20 {
  padding-top: 20px;
}

.unorder-list {
  list-style-type: disc;
  padding-left: 20px;

  li {
    margin-bottom: 24px;
  }
}

.show-f-mob,
.show-mob {
  display: none !important;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.show-f {
  display: flex !important;
}

.toast {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16), 0px 12px 24px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  background-color: $white;
  padding: 16px;
  position: fixed;
  top: -80px;
  right: 20px;
  max-width: 420px;
  width: 100%;
  display: none;
  z-index: 2;
  overflow: hidden;
  &.show-f {
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
    top: 110px;
  }
  .icon-close {
    position: absolute;
    right: 30px;
    top: 16px;
  }
  &::before {
    content: "";
    width: 8px;
    height: 100%;
    background: rgba(59, 195, 147, 0.25);
    position: absolute;
    left: 0;
    top: 0;
  }
  &.toast-info {
    &::before {
      background: rgba(32, 114, 222, 0.25);
    }
  }
  &.toast-alert {
    &::before {
      background: rgba(234, 81, 81, 0.25);
    }
  }
  .toast-icon {
    margin: 0 12px 0 8px;
  }
  .content {
    h4 {
      font-weight: 600;
      font-size: 16px;
      line-height: 140%;
      color: #000;
      margin-bottom: 6px;
    }
    p {
      font-size: 14px;
      line-height: 140%;
      color: #545962;
      margin-bottom: 0;
    }
  }
}

@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;} 
  to {top: 110px; opacity: 1;}
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 110px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top: 110px; opacity: 1;} 
  to {top: 0; opacity: 0;}
}

@keyframes fadeout {
  from {top: 110px; opacity: 1;}
  to {top: 0; opacity: 0;}
}

@media (max-width:767px) {
  .hide-mob {
    display: none !important;
  }

  .show-mob {
    display: block !important;
  }

  .show-f-mob {
    display: flex !important;
  }

  .section-heading {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 16px;
  }
  
}

@media (max-width:600px) {
  .toast{
    left: 5%;
    width: 90%;
  }
}

.ui-menu {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  .ui-menu-item {
    &:hover {
      background-color: #FAFBFC;
    }
    .ui-menu-item-wrapper {
      font-weight: 400;
      font-size: 16px;
      line-height: 16px;
      padding: 10px 10px 10px 30px;
      &.ui-state-active {
        background-color: #FAFBFC;
        border-top: none;
        border-bottom: none;
        color: #000000;
        &:hover {
          background-color: #FAFBFC;
          border-top: none;
          border-bottom: none;
          color: #000000;
        }
      }
    }
  }
}