body {
  padding-top: 110px;
}

@media (max-width:1024px) {
  body {
    padding-top: 0;
  }
}

@media (min-width:768px) {
  .hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
    overflow: hidden;
    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      left: 0;
      right: 100%;
      bottom: 0;
      background: $primary_color;
      height: 4px;
      -webkit-transition-property: right;
      transition-property: right;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out;
    }
    &:hover{
      &::before {
        right: 0;
      }
    }
  }
}

.section-heading {
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: $primary_text_color;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  position: relative;
  margin-bottom: 40px;
  &::after,&::before {
    content: "";
    width: 30px;
    height: 40px;
    position: relative;
    top: 5px;
  }
  &::before {
    background: url(../../build/img/icon-graphic-left.png) no-repeat;
  }
  &::after {
    background: url(../../build/img/icon-graphic.png) no-repeat;
  }
}

.btn {
  background-color: $primary_color;
  color: $white;
  border-radius: 8px;
  font-size: 14px;
  padding: 12px 16px;
}

.w-100 {
  width: 100%;
}

.mt-24 {
  margin-top: 24px;
}

.mb-24 {
  margin-bottom: 24px;
}

.unorder-list {
  list-style-type: disc;
  padding-left: 20px;
  li {
    margin-bottom: 24px;
  }
}

@media (max-width:767px) {
  .hide-mob {
    display: none;
  }
  .show-mob {
    display: block;
  }
 .section-heading {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 16px;
 } 
}